<!DOCTYPE html>
<html>
  <head>
    <title>Nongo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/lib.css" rel="stylesheet" media="screen">
    <link href="/css/app.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    <nav class="navbar-wrapper navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Nongo</span>
          </button>
          <a class="navbar-brand" href="/">Nongo</a>
        </div>

        <div id="breadcrumb">
        </div>
      </div>
    </nav>

    <div id="content" class="container"></div>


  
    <script src="/js/lib.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/views.js"></script>
  </body>
</html>