
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        {{#each this}}
          <li><a href="{{url}}" data-link="push">{{value}}</a></li>
        {{/each}}
    </ul>
</div>