

<ul class="nav nav-tabs">
  <li data-tab="documents"><a href="/databases/{{database}}/collections/{{collection}}" data-link="push">Documents</a></li>
  <li data-tab="indexes"><a href="/databases/{{database}}/collections/{{collection}}/indexes" data-link="push">Indexes</a></li>
</ul>



<!-- Tab panes -->
<div class="tab-content">
  <div id="documents"></div>
  <div id="indexes"></div>
</div>
