<ul class="nav nav-tabs">
  <li data-tab="collections"><a href="/databases/{{database}}" data-link="push">Collections</a></li>
  <li data-tab="users"><a href="/databases/{{database}}/users" data-link="push">Users</a></li>
</ul>



<!-- Tab panes -->
<div class="tab-content">
  <div id="collections"></div>
  <div id="users"></div>
</div>