<!-- <a href="/databases/{{databaseName }}/collections/{{this.name}}" data-link="push" >{{this._id}}</a> -->

<div class="document-wrapper well">
    <div class="document">{{{this.content}}}</div>
</div>