<td>{{name}}</a></td>
<td>{{{stringify key}}}</td>
<td>{{{yesno unique}}}</td>
<td>
    <button type="button" class="btn btn-danger btn-xs js-delete">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>